<footer class="site-footer">

  <div class="wrapper">

    <div class="partner-logos">
      un projet de
      <a href="http://lucawyss.com" target="_blank">luca wyss</a>
      avec le soutien de
      <a href="http://www.khiasma.net" target="_blank">khiasma</a>,
      de la <a href="http://lamaisondesfougeres.blogspot.com/" target="_blank">maison des fougères</a>,
      de la <a href="https://www.facebook.com/La-Cabane-Fleury-126598834410281/">cabane fleury</a>,
      <a href="https://fb.com/epjmahaliajackson" target="_blank">EPJ mahalia jackson</a>,
      du <a href="https://www.facebook.com/Groupe-d-entraide-mutuelle-Le-Cap-de-Bonne-esperance-549526285145608/">GEM cap de bonne espérance</a>
      et du collège Pierre-Mendes-France.
    </div>
  </div>

</footer>
