<footer class="site-footer">

  <div class="wrapper">

    <div class="partner-logos">
      <!-- replace logos here! -->
      un projet de
      <a href="http://lucawyss.com" target="_blank">luca wyss</a>
      avec le soutien de
      <a href="http://www.khiasma.net" target="_blank">khiasma</a>,
      <a href="http://lamaisondesfougeres.blogspot.com/" target="_blank">maison des fougères</a>,
      cabane fleury,
      <a href="https://fb.com/epjmahaliajackson" target="_blank">EPJ mahalia jackson</a>,
      GEM cap de bonne espérance,
      collège Pierre-Mendes-France.
    </div>
  </div>

</footer>
